.a {
    display: flex;
    align-items: center;
    position: relative;
}

.a-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    border: 5px solid #27569c;
    height: 330px;
    width: 480px;
    padding: 20px;
    border-radius: 10px;
}

.a-title {
    color: #27569c;
    text-align: center;
    font-family: "Inter";
    font-weight: 800;
    font-size: 24px;
}
.a-title-error {
    color: #27569c;
    position: absolute;
    margin: auto;
    bottom: 110px;
}
.a-wrapper {
    float: left;
    margin-top: 20px;
}
.a-wrapper-login,
.a-wrapper-password {
    clear: both;
    text-align: right;
    line-height: 45px;
}
.a-wrapper-login {
    margin-bottom: 25px;
}

label {
    float: left;
    padding-right: 30px;
    font-family: "Inter";
    font-weight: 800;
    font-size: 24px;
}

label + input {
    box-sizing: border-box;

    width: 340px;
    height: 45px;
    left: 644px;
    top: 467px;
    outline: none;

    background: #d9d9d9;

    border: 4px solid #27569c;
    border-radius: 10px;
    text-indent: 10px;
}
button[type="submit"] {
    height: 43px;
    background: #e4b062;
    position: absolute;
    left: 120px;
    right: 120px;
    bottom: 50px;
    border-radius: 10px;
    border: none;

    font-family: "Inter";
    font-weight: 800;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
@media screen and (max-width: 768px) {
    .a-form {
        width: 450px;
        height: 300px;
        transform: translate(-50%, 70%);
    }
    label + input {
        width: 280px;
    }
    button[type="submit"] {
        bottom: 30px;
    }
}
@media screen and (max-width: 375px) {
    .a-form {
        width: 280px;
        height: 300px;
        transform: translate(-50%, 30%);
        padding: 25px;
    }
    .a-wrapper {
        margin-top: 0;
    }
    .a-title {
        font-size: 25px;
        margin: 10px;
    }
    .a-title-error {
        bottom: 75px;
    }

    label + input {
        width: 280px;
        clear: left;
        float: left;
    }
    button[type="submit"] {
        bottom: 20px;
        font-size: 18px;
    }
}
